body, html {overflow: hidden;}
.container-full {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}
#map {
	width:100%;
 	height:100%;
}
.hideWindow {
	opacity: 0;
	zoom: 0 
}
.navbar-brand {
	padding: 15px 0 15px 15px;
}

/* Modal custom */
.modal {overflow: hidden;}
.modal-lg {
	width: 100%;
	height: 100%;
}
.modal-content {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	border: none;
	padding: 0 30px;
}
.modal-dialog, #infoWindowDetails {
	margin: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	border: none;
	border-top: 1px solid #1d9ce5;
	background-color: white;
	padding-bottom: 60px;
}
.img_card {
	height: 48px;margin-right: 7px;
}
.promoTitle {
	vertical-align:middle;
	line-height: 48px;
}
@media (min-width: 768px){
	.navbar-brand {
		padding: 15px;
	}
}
